/* 基本 CSS 樣式 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --libao-dark: #1f2937;
  --libao-gold: #fbbf24;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}